.home-background{
    height: 70vh;
    max-width: 100vw;
    background: no-repeat center/100% url(https://via.placeholder.com/300);
}
@media screen and (max-width: 768px) {
    .home-background{
        height: 50vh;
    }
}

.container{
    margin: 1.5rem 3rem;
}