.social-media{
    margin: 5vw;
    
    &-youtube{
        background: linear-gradient(45deg, var(--prim) 0%, var(--seco) 100%);
        padding: 4rem 0;
    }

    &-tiktok{
        margin: 3vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.tiktok-embed{
    max-width: 400px;
    min-width: 30px;
    height: auto;
}

@media (max-width: 768px) {
    .social-media-tiktok{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}