.social-media{
    
    &-youtube{
        background: linear-gradient(45deg, var(--prim) 0%, var(--seco) 100%);
        padding: 4rem 0;
    }

    &-tiktok{
        margin: 3vw;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .social-media-tiktok{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}