.swiper{
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-slide .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-swiper {
    width: 100%;
    max-width: 350px; /* ajustar tamaño máximo */
    height: auto;
    margin: 0 auto;
}