.container{
    position: relative;
    place-items: center;

    img{
        z-index: -1;
    }

    .cards-details{
        visibility: hidden;
        position: absolute;
        bottom: 1%;
        z-index: 1000;
        padding: 0.2rem;
        text-align: center;
    }

    .cards:hover .cards-details{
        visibility: visible;
    }

    .cards:hover img{
        transform: scale(1.01);
        border-radius: 1px;
    }
}