.book{
    width: 80vw;
    height: 70vh;
    margin: 3rem auto 15rem;
    background: var(--prim);
    border-radius: 30px;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4fr 1fr;

    &-image{
        grid-column: 2;
        grid-row: 1;
        position: absolute;
        width: 280px;
        transform: rotate(18deg);
        right: 3%;
        top: 25%;
        filter: drop-shadow(5px 5px 20px var(--dark));
    }

    p{
        color: var(--light);
        padding: 4rem;
        text-shadow: 1px 1px 2px var(--dark);
        display: flex;
        align-items: center;
        line-height: 20px;
    }

    div{
        grid-column: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .book{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 3fr 1fr;
        margin: 5rem auto;

        &-image{
            grid-row: 1;
            width: 200px;
            transform: rotate(-15deg);
            right: 1%;
            top: 0%;
        }
        p{
            grid-row: 2;
            font-size: 0.8rem;
            line-height: 18px;
            padding: 1.5rem 1.9rem;
        }
        div {
            grid-row: 3;
        }
    }
}