.subtitle{
    background-color: var(--prim);
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &-text{
        color: var(--light);
        padding: 4px;
        font-family: 'Kalam', cursive;
    }
}

.see-more{
    text-decoration: none;
    color: var(--light);
    position: absolute;
    right: 8%;

    &:hover{
        text-decoration: underline;
    }
}