.copyright{
    max-width: 100%;
    height: auto;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;

    a{
        color: var(--light);
        margin: auto 1rem;
    }
}