@import "./components/Cards/cards.scss";
@import "./components/Swiper/swiper.scss";
@import "./sections/home/home.scss";
@import "./components/NavBar/navbar.scss";
@import "./sections/products/products.scss";


:root{
    --dark: #0f0f0f;
    --light: #eef0f1;
    --prim: #53c1ae;
    --seco: #c576d2;
    --secoT: #c676d2bb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}