@import "./components/Cards/cards.scss";
@import "./components/Swiper/swiper.scss";
@import "./sections/home/home.scss";
@import "./components/NavBar/navbar.scss";
@import "./sections/products/products.scss";
@import "./sections/details/details.scss";
@import "./components/Navigation/navigation.scss";
@import "./components/heroImage/heroImage.scss";
@import "./components/subtitle/subtitle.scss";
@import "./sections/socialmedia/socialmedia.scss";
@import "./sections/book/book.scss";
@import "./components/button/myButton.scss";


:root{
    --dark: #0f0f0f;
    --light: #eef0f1;
    --prim: #39B599;
    --primT: #39b5989e;
    --seco: #c576d2;
    --secoT: #c676d295;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}